<center>
<div class="container fourofourcontainer" style="display: block;">
    <h1 class="display-4 lead">404</h1>
    <h1 class="lead fourofourtext">The URL you tried to request does not exist. </h1>
    <button class="btn btn-secondary homebtn" onclick="window.location.href='/'">Home</button>
</div>
</center>